<form action="/add" method="POST">
    <p>Nome: </p>
    <input type="text" name="titulo"> 
    <p>Conteudo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>