<h1>Livros pesquisados: </h1>

{{#each posts}}
    <small>{{createdAt}}</small>
    <h1>{{titulo}}</h1>
    <p>{{autor}}</p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <hr>
{{/each}}
